.menu{
    width: 23%;
    display: inline-block;
    list-style: none;
    text-align: center;
}
.form{
    list-style: none;
    margin: 3%;
}

.form  label {

    width: 500px;
    height: 200px;
}

.form input{
    margin-left: 50px;
    position: absolute;
    left: 20%;
}

.formse{
    list-style: none;
    margin: 3%;


}

.formse > label + label{
    margin-left: 220px;


}
.formse > input{
    margin-left: 10px;
    margin-right: 32px;
}